<br/>
<div class="card card1" style="width: 50rem;">
    <div class="card-header">
        <h2 style="text-align: center;">Editar Conta</h2>
    </div>
    <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Usuário %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Senha %> <i>(Deixe em branco se não quiser alterá la)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em>mínimo <%= @minimum_password_length %> caracteres</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Confirmação_da_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :senha_atual %> <i>(Digite a senha atual para efetivar as mudanças)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
</br>
  <div class="actions">
    <%= f.submit "Atualizar",class: "btn btn-primary" %>
  </div>
<% end %>
</br>
<h3>Cancelar minha conta</h3>

<p>Insatisfeito? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "
Você tem certeza?" }, method: :delete ,class: "btn btn-primary"%></p>
<%= link_to 'voltar', :back , class: "btn btn-info" %>

    </div>
</div>

</br>
