<br/>
<div class="card card1" style="width: 50rem;">
    <div class="card-header">
        <h2>Inscrever-se</h2>
    </div>
    <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Usuário %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :Senha %>
    <% if @minimum_password_length %>
    <em>(mínimo <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :confirmação_da_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  </br>
  <div class="actions">
    <%= f.submit "Inscrever-se", class: "btn btn-primary" %>
    <%= link_to 'voltar', :back , class: "btn btn-info" %>
  </div>
<% end %>
  <%= render "adms/shared/links" %>
    </div>
</div>





