<!DOCTYPE html>
<html>
  <head>
    <title>Sala de situação</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to image_tag("/images/coruja.png", border: 0, width: "40px", height: "35px", alt: "Sala de Situação"  ), root_path , class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          <div id="inicio">
            <%= link_to "Inicio", root_path , class: "nav-link" %>
            </div>
          </li>
           <% if adm_signed_in? %>
            <li class="nav-item">
            <%= link_to "Gerenciar Noticias", newsletters_path , class: "nav-link" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Login", newsletters_path , class: "nav-link" %>
          </li>
          <% end %>

          <li class="nav-item">
          <div id="sobre">
            <a class="nav-link" href="https://fs.unb.br/saladesituacao/">Sobre</a>
          </div>
          </li>

          <li class="nav-item dropdown">
          <div id="sala">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Produtos da sala de situação
            </a>
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://fs.unb.br/saladesituacao/boletim-epidemiologico">Boletim Epidemiológico</a>
              <a class="dropdown-item" href="https://fs.unb.br/saladesituacao/boletim-entomologico">Boletim Entomológico</a>
              <a class="dropdown-item" href="https://fs.unb.br/saladesituacao/boletim-monitoramento">Boletim Monitoramento</a>
              <a class="dropdown-item" href="https://fs.unb.br/saladesituacao/clipping-de-noticias">Clipping de Notícias</a>
              <a class="dropdown-item" href="https://fs.unb.br/saladesituacao/clipping-de-rumoresdeteccao">Clipping de Rumores/Detecção</a>
              <a class="dropdown-item" href="https://fs.unb.br/saladesituacao/relatorios">Relatórios</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://fs.unb.br/saladesituacao/">Sala de Situação de Saúde</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
         <% if adm_signed_in? %>
           <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%="#{current_adm.email}" %>
                  </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Logout", destroy_adm_session_path , class: "dropdown-item" , method: :delete %>
            </div>
            </li>
            </ul>
           <% end %>
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </nav>
<%= yield %>
  </body>
</html>
